$theme-color: #ff4000;
$theme-color2: hsl(15, 90%, 40%);
$font-color: #fff;
$font-color2: #333;
$font-color3: #666;
$border-color:#bbb;
$border-color2:#b0b0b0;
$bg-color: radial-gradient(#fff, #e0d5d1, #d2dce1);
$card-bg: hsl(36, 50%, 90%);
